<mat-card class="product-card">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>
        Product List
      </mat-card-title>
    </mat-card-title-group>
    <button class="add-button" mat-raised-button color="primary" (click)="addProduct()">
      Add
    </button>
  </mat-card-header>
  <mat-card-content> </mat-card-content>
</mat-card>

<mat-card
  class="product-card"
  *ngFor="let product of products"
  [routerLink]="['/products', product.id]"
>
  <mat-card-header>
    <mat-card-title>{{ product.title }}</mat-card-title>
    <mat-card-subtitle>
      <mat-chip-list aria-label="Fish selection">
        <mat-chip
          *ngFor="let category of product.category"
          [selectable]="false"
          >{{ category }}</mat-chip
        >
      </mat-chip-list>
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content> </mat-card-content>
</mat-card>
